<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#issuedDate" ).datepicker();
      $( "#expiredDate" ).datepicker();
    } );
  </script>
</head>
<body>
<div class="container">
  <h1>Add New Certification</h1>
  <form th:action="@{/add_new_certification}" method="post" th:object="${certificationDto}">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="certificationName">Certification Name</label>
      <div class="col-sm-9">
        <input type="text" required minlength="2" maxlength="128" class="form-control" id="certificationName" th:field="*{certificationName}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="issuedDate">Issued Date</label>
      <div class="col-sm-6">
        <input type="text" id="issuedDate" name="issuedDate" class="form-control"  th:field="*{issuedDate}"  />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="expiredDate">Expired Date</label>
      <div class="col-sm-6">
        <input type="text" id="expiredDate" name="expiredDate" class="form-control"  th:field="*{expiredDate}"  />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="description">Description</label>
      <div class="col-sm-9">
        <input type="text" required minlength="2" maxlength="128" class="form-control" id="description" th:field="*{description}" />
      </div>
    </div>
    <button type="submit" class="btn btn-info col-2">Save</button>
  </form>
</div>
</body>
</html>