<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Hello <span th:text="${currentEmployee.getFirstName()} +' '+${currentEmployee.getLastName()}" /></h1>
    <div class="mt-5"><a class="link-primary" th:href="@{/logout}">Logout</a></div>
    <h1>Edit Profile </h1>
    <form method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" th:value="${currentEmployee.getFirstName()}">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" th:value="${currentEmployee.getLastName()}">
            </div>

            <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" th:value="${currentEmployee.getEmail()}" readonly>
            </div>

            <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${currentEmployee.getPhoneNumber()}">
            </div>

            <div class="form-group col-md-6">
                <label for="dateOfBirth">Date Of Birth:</label>
                <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth">
            </div>

            <div class="form-group col-md-6">
                <label>Gender:</label>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="male" name="male" checked>
                    <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="female" name="female">
                    <label class="form-check-label">Female</label>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" placeholder="Address" name="address">
            </div>

            <div class="form-group col-sm-6">
                <label>Department:</label>
                <select name="type" class="selectpicker form-control">
                    <option th:each="department: ${departments}" th:text="${department.getDepartmentName()}"></option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label>Position:</label>
                <select name="type" class="selectpicker form-control">
                    <option th:each="position: ${positions}" th:text="${position.getPositionName()}"></option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="startWork">Start Work:</label>
                <input type="text" class="form-control" id="startWork" name="startWork">
            </div>

            <!--        <div class="form-group col-md-6">-->
            <!--            <label for="datepicker">End Work:</label>-->
            <!--            <input type="text" class="form-control" id="endWork">-->
            <!--        </div>-->

            <div class="form-group col-md-6">
                <label>Skills:</label>
                 <select class="selectpicker" multiple data-live-search="true">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                     <option>Mustard</option>
                     <option>Ketchup</option>
                     <option>Relish</option>
                  </select>
            </div>

            <div class="form-group col-md-6">
                <label>Certifications:</label>
                <button type="button" class="btn btn-primary">Add Your Certifications</button>
            </div>

            <div class="form-group col-md-6">
                <label>Expericences:</label>
                <button type="button" class="btn btn-primary">Add Your Experiences</button>
            </div>

            <div class="form-group col-md-6">
                <label>Projects:</label>
                <button type="button" class="btn btn-primary">Add Projects</button>
            </div>
        </div>
    </form>
</body>
</html>