<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <h1>Send Mail Employee</h1>
    <form th:action="@{/send_mail_employee}" method="post" th:object="${employee}">
        <input type="text" placeholder="Enter the employee's personal email" class="form-control mb-4 col-4" id="personalEmail" name="personalEmail">
        <input type="hidden" class="form-control mb-4 col-4" id="email" name="email" th:field="*{email}">
        <input type="hidden" class="form-control mb-4 col-4" id="password" name="password" th:field="*{password}">
        <input type="hidden" class="form-control mb-4 col-4" id="firstName" name="firstName" th:field="*{firstName}">
        <input type="hidden" class="form-control mb-4 col-4" id="lastName" name="lastName" th:field="*{lastName}">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
</div>
</body>
</html>