<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
  Hello <span th:text="${fullName}"></span>,
</p>
<p>Welcome to our company. This is your employee account information. <br><b>Please change your password immediately after logging into our system</b></p>
<p>Email: <b th:text="${email}"></b></p>
<p>Password: <b th:text="${password}"></b></p>
<p>Regards, <br/><em>Admin Teams</em></p>
</body>
</html>