<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <h1>Forgot Password</h1>
  <div th:if="${errorMessage}">
    <div class="alert alert-danger" th:text="${errorMessage}"></div>
  </div>
  <form th:action="@{/forgot_password}" method="post">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="email">Enter your email</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="email" name="email"/>
      </div>
    </div>
    <button type="submit" class="btn btn-info col-2">Send</button>
  </form>
</div>
</body>
</html>