<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>List Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" th:href="@{/home}">TECH CORP.</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="fas fa-user fa-fw"></i><b
                    th:text="${currentEmployee.getFirstName()} +' '+ ${currentEmployee.getLastName()}"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/edit_profile}">Change Profile</a></li>
                <li><a class="dropdown-item" th:href="@{/change_password}">Change Password</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Dashboard</div>
                    <a class="nav-link collapsed" th:href="@{/list_departments}"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                        Department Management
                    </a>
                    <a class="nav-link collapsed" th:href="@{/list_employees}"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Employee Management
                    </a>
                    <a class="nav-link collapsed" th:href="@{/list_projects}"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                        Project Management
                    </a>
                    <a class="nav-link collapsed" th:href="@{/reset_password}"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
                        Reset Password
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">List Projects</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="input-group mb-3" style="width: 50%">
                                <form th:href="@{/list_projects}" method="get">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search..."
                                               aria-describedby="basic-addon2" id="searchText" name="searchText">
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div style="width: 50%">
                                <a class="btn btn-info icon-link" th:href="@{/add_new_project}" style="
                        float: right;
                        margin-right: 10px;
                        margin-bottom: 20px;
                      ">
                                    <svg class="fa fas fa-project-diagram" aria-hidden="true">
                                        <use xlink:href="#box-seam"></use>
                                    </svg>
                                    Add Project
                                </a>
                                <a class="btn btn-success icon-link" th:href="@{/project_export_excel}" style="
                        float: right;
                        margin-right: 10px;
                        margin-bottom: 20px;
                      ">
                                    <svg class="fa fas fa-file-excel" aria-hidden="true">
                                        <use xlink:href="#box-seam"></use>
                                    </svg>
                                    Export To Excel
                                </a>
                                </a>

                                <a class="btn btn-primary icon-link" href="#" style="
                        float: right;
                        margin-right: 10px;
                        margin-bottom: 20px;
                      ">
                                    <svg class="fa fas fa-file-word" aria-hidden="true">
                                        <use xlink:href="#box-seam"></use>
                                    </svg>
                                    Export To Word
                                </a>

                                <a class="btn btn-danger icon-link" href="#" style="
                        float: right;
                        margin-right: 10px;
                        margin-bottom: 20px;
                      ">
                                    <svg class="fa fas fa-file-pdf" aria-hidden="true">
                                        <use xlink:href="#box-seam"></use>
                                    </svg>
                                    Export To PDF
                                </a>
                            </div>
                        </div>
                        <table class="table table-striped custom-table">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Language</th>
                                <th>Framework</th>
                                <th>Members</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="project: ${projects}">
                                <td th:text="${project.getProjectName()}"></td>
                                <td th:text="${project.getLanguage()}"></td>
                                <td th:text="${project.getFramework()}"></td>
                                <td>
                                    <label></label>
                                    <button
                                            class="btn btn-outline-secondary w-100 dropdown-toggle"
                                            data-bs-auto-close="outside" type="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false" style="margin-top: -30px">
                                    </button>
                                    <ul class="dropdown-menu w-47">
                                        <li th:each="employee: ${project.getEmployees()}">
                                            <label class="form-check-label" th:text="${employee.getEmail() +' ('+employee.getPosition().getPositionName()+')'}"></label>
                                        </li>
                                    </ul>
                                </td>
                                <td th:text="${#dates.format(project.getStartDate(), 'MM/dd/yyyy')}"></td>
                                <td th:text="${#dates.format(project.getEndDate(), 'MM/dd/yyyy')}"></td>
                                <td th:text="${project.getStatus().getStatusName()}"></td>
                                <td style="text-align: center;">
                                    <a class="btn btn-primary icon-link"
                                       th:href="@{/update_project/{id}(id=${project.getProjectId()})}">
                                        <svg class="fa fa-pencil" aria-hidden="true">
                                            <use xlink:href="#box-seam"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <th:block th:if="${projects.size() != 0}">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" th:if="${currentPage > 1}"
                                                             th:href="@{'/list_projects/page/1?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">First</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:unless="${currentPage > 1}" disabled>First</a>
                                    </li>


                                    <li class="page-item"><a class="page-link" th:if="${currentPage > 1}"
                                                             th:href="@{'/list_projects/page/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}"><<</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:unless="${currentPage > 1}" disabled><<</a>
                                    </li>

                                    <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                                        <li class="page-item"><a class="page-link" th:if="${currentPage != i}"
                                                                 th:href="@{'/list_projects/page/'+${i}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">[[${i}]]</a>
                                        </li>
                                        <li class="page-item active"><span class="page-link"
                                                                           th:unless="${currentPage != i}">[[${i}]]</span>
                                        </li>
                                    </th:block>

                                    <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages}"
                                                             th:href="@{'/list_projects/page/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">>></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:unless="${currentPage < totalPages}"
                                                             disabled>>></a></li>

                                    <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages}"
                                                             th:href="@{'/list_projects/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDirection='+${sortDirection}}">Last</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:unless="${currentPage < totalPages}"
                                                             disabled>Last</a></li>
                                </ul>
                            </nav>
                        </th:block>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/datatables-simple-demo.js"></script>
</body>

</html>